/* This file contains CSS styles specific to the App.jsx component or its child components. */

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */



/* Navbar styling */

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  font-family: "Satoshi", "Plus Jakarta Sans";
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-[#101013] text-slate-100;
  }
}

body {
  margin: 0;
}

/* .navContainer  */
  /* max-width: 1200px;  */
  /* margin: 0 auto; */


.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%); */
  padding: 25px; 
  background-color: #cdf1e4; 
  backdrop-filter: blur(100px); 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 23px; 
}

.navLinkStyle {
  color: rgb(5, 5, 128);
  font-size: 20px;
  text-decoration: none;
}

.navLinkStyle:hover {
  color: #fff; 
}

.navHeader 

/* .navContacts {} */

.phoneLink {
  font-size: 12px;
  text-decoration: none;
  background-color: #f4f3ba; 
  padding: 0.4rem 1rem;
  border-radius: 20px;
  margin-left: 10px;
  color: rgb(5, 5, 128);
}




/* .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px; 
  font-weight: 500; 
  list-style-type: none;
  padding: 0;
} */

/* .navbar ul li {
  display: inline-block;
  margin-right: 20px;
} */

/* .navbar ul li a {
  position: relative;
  font-size: 16px; 
  padding: 8px 12px; 
  margin: 0 8px; 
  text-decoration: none;
  color: rgb(10, 56, 163); 
} */

/* .navbar ul li a:hover {
  text-decoration: none;
  font-size: 16px; 
  border-radius: 5%;
} */

/* .navbar ul li a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: 8px;
  height: 8px;
} */



/* SectionNav style */

/* .section {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start; */
  /* align-items: center; */
  /* text-align: center;
  border: 1px solid rgb(134, 131, 151);
  border-radius: 10px;
  margin-top: 30px;
} */

/* .section h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 2rem; 
}

.section p {
  font-size: 1.3rem; 
  font-weight: medium;
  text-align: start;
  margin-left: 10px;
  margin-right: 10px;
} */



/* Greeting component */

.greeting {
  margin-top: 120px;
  text-align: center;
}

/* Content component */

/* .goodDeedsParDiv {
  font-size: 10px;
} */



/* Footer */

.footer {
  background-color: #a7cfc0; 
  color: #fff; 
  padding: 7px 0;
  border-radius: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footerContainer {
  max-width: 1200px; 
  margin: 0 auto;
  padding: 0 15px;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.schedule, .addressContacts, .subscribeForm {
  flex: 1;
}

.schedule, .subscribeForm, .addressContacts {
  color: rgb(5, 5, 128);
  font-size: 12px;
}

.copyright{
  text-align: end;
  font-size: 12px;
}

.subscribeForm form {
  display: flex;
}

.subscribeForm input[type="email"] {
  flex: 1;
  padding: 6px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
}

.subscribeForm button {
  padding: 8px 20px;
  background-color: #f4f3ba; 
  color: #333; 
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.subscribeForm button:hover {
  background-color: #7fc27dd7; 
}


/* About component */

.aboutSection{
  margin: 0;  
  background-color: #000;
  /* margin-top: 80px; */
}

.aboutContainer {
  position: relative;
}

.textContainer {
  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: start;
  color: #fff; 
  z-index: 1; 
}

.h1About{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.subtitleAbout{
  font-size: 1.2rem;
  margin-bottom: 5rem;
}

.subtitleAbout2 {
  font-size: 1.5rem;

}

.appointmentBtn {
  padding: 0.4rem 1rem;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.appointmentBtn:hover {
  background-color: #218838;
}

.aboutImgContainer, img {
  width: 100%;
  height: 70vh;
  /* height: 100vh; */
  display: block; 
}

/* Doctors */

.doctorsListContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.doctors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.doctor {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.vetDogImg {
  width: 500px; 
  height: auto;
}

/* Media queries for responsiveness */

